* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding: 0 !important;
}
.form-control {
  background: #674719;
}

.cart,  .user{
  font-size: 20px;
}
.fa-cart-plus:hover {
  color: #674719;
}
.carousel-item {
  width: 100%;
  height: 400px;
}
.carousel-item > img {
  width: 100%;
  height: 100%;
}
.white {
  color: #ffffff !important;
}
.yellow {
  color: #ffc107;
}
.btn-search:hover {
  color: #fbebd0 !important;
  background-color: #f39d1265 !important;
  border-color: #f39c12;
}
[type="submit"]:not(:disabled),
button:not(:disabled) {
  color: #fff;
  background-color: #f39c129c;
  border-color: #f39c12;
}
.list-group-item {
  padding: 10px 0 !important;
}

h2.product-title {
  display: table;
  white-space: nowrap;
}
h2.product-title:before,
h2.product-title:after {
  border-top: 2px solid #f39d1265;
  content: "";
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 1000px;
}
h2.product-title:before {
  right: 1.5%;
}
h2.product-title:after {
  left: 1.5%;
}

.banner {
  width: 100%;
  height: 400px;
}
.banner > img {
  width: 100%;
  height: 100%;
}

.card-body h5, p, li{
  color: rgb(95, 95, 95);
}

.card:hover {
  animation: card 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation: card 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes card {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.15);
  }
}

.header a {
  padding: 0.5em 0;
  color: #ffffff !important;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.header a:before,
.header a:after {
  position: absolute;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.header a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #ffffff;
}
.header a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  color: #ffffff;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.header a:hover:before,
.header .current a:before {
  opacity: 1;
  width: 100%;
}
.header a:hover:after,
.header .current a:after {
  max-width: 100%;
}

.panel {
  /* padding: 15px 15px; */
  border: 1px solid #ffc107;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.panel-title1 {
  background-color: #ffc107;
  color: #fff;
  padding: 10px;
}
.panel-title {
  padding: 5px 15px;
}
.panel-title > a {
  color: #999;
}
.panel-title > a:hover {
  color: #999 !important;
}




.form-control:focus {
  border-color: #ffc107;
}
.form-control,
.btn {
  border-radius: 3px;
}
.form-header {
  margin: -30px -30px 20px;
  padding: 30px;
  text-align: center;
  background: #99999985;
  border-bottom: 1px solid #eee;
  color: #fff;
}
.form-header h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 0 0 10px;
}
.form-header p {
  margin: 20px 0 15px;
  font-size: 17px;
  line-height: normal;
}
.signup-form {
  width: 60%;
  margin: 0 auto;
  padding: 30px 0;
}
.signup-form form {
  color: #999;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #f0f0f0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.signup-form .form-group {
  margin-bottom: 20px;
}
.signup-form label {
  font-weight: normal;
  font-size: 13px;
}
.signup-form input[type="checkbox"] {
  margin-top: 2px;
}
.signup-form .btn {
  font-size: 16px;
  font-weight: bold;
  background: #ffc107;
  border: none;
  min-width: 200px;
}
.signup-form .btn:hover,
.signup-form .btn:focus {
  background: #ffc107 !important;
  outline: none;
}
.signup-form a {
  color: #ffc107;
}
.signup-form a:hover {
  text-decoration: underline;
}







/* details */
.item-photo{
  width: 50%;
}
.item-photo > img{
  width: 100%;
  height: 100%;
}

.nav-link {
color: #ffc107;
}

.nav-link:focus, .nav-link:hover {
  color: #ffc107;
}
.nav-tabs {
  border-bottom: 1px solid #FFC107 !important;
}
.nav-tabs .nav-link.active {
  color: #999 !important;
}






/* ---------------- Shopping Cart ---------------- */
.shopping-cart {
  width: 900px;
  min-height: 423px;
  margin: 80px auto;
  background: #ffffff;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
  border-bottom: 1px solid #e1e8ee;
}

/* Buttons -  Delete  */
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 65px;
}

.delete-btn {
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

/* Product Image */
.image {
  margin-right: 90px;
}

/* Product Description */
.description {
  padding-top: 10px;
  margin-right: 100px;
  width: 115px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484d;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939e;
}

/* Product Quantity */
.quantity {
  padding-top: 20px;
  margin-right: 100px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

.minus-btn,
.plus-btn {
  width: 30px;
  height: 30px;
  background-color: #e1e8ee;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
button:focus,
input:focus {
  outline: 0;
}

/* Total Price */
.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

/* Responsive */
@media (max-width: 1000px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .image img {
    width: 100px;
  }

  .quantity,
  .description,
  .buttons,
  .image {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
}

.profile-userpic{
  margin: 30px 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.profile-userpic > img{
  width: 100%;
  height: 100%;
}
.profile-usertitle-name{
  color: #999;
}

.profile-usermenu ul li >a{
    color: #999;
}
.profile-usermenu ul li >a:hover{
    color: rgb(102, 102, 102);
}


.image{
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 50px !important;
  border: 3px solid transparent;
}
.image:hover{
  border:3px solid #ffc107;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.image > img{
  width: 100%;
  height: 100%;
}
.students{
  margin: 0 !important;
  justify-content: space-around;
}